body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}


header h1 {
  font-size: 2.5rem;
}

a {
  color: #0af;
  text-decoration: underline; 
}

a:hover {
  color: #8af;
}

button {
  background-color: white;
  color: black;
}

.edit-button, .delete-button {
  margin: 8px;
}

.panel-header {
  border-bottom: 2px solid #888;
  background-color: rgb(100, 150, 175, .5);
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  border-radius: 10px;
}

.App-logo {
  width: 40px;
  height: auto;
} 


body.light-mode {
  background-color: white;
  color: black;
}

body.light-mode .search-bar input,
body.light-mode .filters select,
body.light-mode input[type="date"],
body.light-mode button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}

header.light-mode {
  background-color: rgb(100, 150, 175); 
}

.light-mode .post-panel {
  background-color: white; 
  border: 1px solid #ccc;   
}

body.dark-mode {
  background-color: black;
  color: white;
}

body.dark-mode .search-bar input,
body.dark-mode input[type="date"],
body.dark-mode .filters select,
body.dark-mode button {
  background-color: #333;
  color: white;
  border: 1px solid #444;
}

body.dark-mode .title,
body.dark-mode .color-theme {
  color: rgb(100, 150, 175);
}

.title {
  display: flex;
  align-items: center;
}

body.dark-mode button:hover {
  color: black;
}

header.dark-mode {
  background-color: rgba(50, 75, 100);
}

.dark-mode .post-panel {
  background-color: #333;      
  color: white;  
  border: 1px solid #555;   
}

.dark-mode .add-post-button {    
  color: white;  
  background-color: rgb(25, 25, 25)    
}

header  {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100vw; 
  padding: 10px 20px; 
  background-color: rgb(80, 120, 150, .8); 
  box-sizing: border-box; 
}

header span, 
header button, 
header .App-logo {
  margin-right: 10px
}

.post-grid {
  display: flex;  
  flex-wrap: wrap;  
  gap: 16px; 
  justify-content: center; 
}

.post-panel, .new-post, .edit-post {
  flex: 1 0 300px;  
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  background-color: white;
  text-align: center;
}

.post-panel {
  max-width: 300px;
}

.new-post, .edit-post {
  width: 500px;
}

.add-post-button {
  font-size: 50px;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  border: none;
}

body button:hover, header button:hover {
  background-color: #ddd;
}

.like-button:hover {
  background-color: white;
}